body {
  margin: 0;
  background-color: #F3E9FC;
  color: #f2f2f2;  
}

.header {
  background-image: url("../../images/header_tile_bg.png");
  background-repeat: repeat;
  padding: 20px;
  height: 52px;
  text-align: center;
}

h1 {
  font-style: italic;
  color: white;
  font-size: 28px;
}

h2{
 font-size: 45px;
 margin: auto;
 text-align: center;
}

.kor_group_name {
 font-size: 35px;
 margin: auto;
 text-align: center;
}

p a {
    text-decoration: none;
    color: #A5C1FB;
}

p a:hover {
    text-decoration: none;
    color: #BE6AFF;
}


ul.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #282728;
  border: 1px solid white;
  max-height: 500px;
}

li.nav_li {
  display: inline-block;
  margin: 0 75px 0 75px;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #E1A5FB;
}

li.nav_li a:hover, .dropdown:hover .dropbtn {
  background-color: #A859CA;
  color: #f2f2f2;
}

li.nav_li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282728;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
  border: 1px solid white;
  
}

.dropdown-content a:hover {
  background-color: #000;
  color: #E1A5FB;
}

.dropdown:hover .dropdown-content {
  display: block;
  columns: 2;
  column-gap: 0px;  
}

.active {
  background-color: #480D62;
}

.main {
  margin: 15px 55px 15px 55px;
  padding: 15px;
  background-color: #282728;
  color: #F9F5FB;
  font-size: 18px;
}


.song_info {
   font-size: 25px;
   font-weight: bold;
   margin: 15px;
   color: #E1A5FB;
}

#producers_list a {
    text-decoration: none;
    color: #A5C1FB;
    display: inline;
    padding: 0px;
}

#producers_list a:hover {
    text-decoration: none;
    color: #BE6AFF;
    display: inline;
    padding: 0px;
}

#writers_list a {
    text-decoration: none;
    color: #A5C1FB;
    display: inline;
    padding: 0px;
}

#writers_list a:hover {
    text-decoration: none;
    color: #BE6AFF;
    display: inline;
    padding: 0px;
}

#profile_link {
    text-decoration: none;
    color: #A5C1FB;
    font-size: 26px;
}

#profile_link:hover {
    text-decoration: none;
    color: #BE6AFF;
    font-size: 26px;
}

.Music_Video {
    display: flex; 
    justify-content: center;
    align-items: center;
    clear: both;
}

.Music_Video iframe {
    border: 0px;
    clear: both;
    margin-top: 25px;
    margin-bottom: 4%;
}

#legend_left_space {
    float: left;
    width: 100%;
}

#legend {
    float: right;
    width: 28%;
    margin-right: 25px;
}

#legend_holder {
    display: flex;
}

.fieldsetCol1, .fieldsetCol2 {
  float: left;
  width: 49%;
}

span.TestSCoups {
    color: #E54E03;
}

div.song_line.SCoups.on {
    color: #E54E03;
}

span.backing_vocal.SCoups.on {
    color: #E54E03;
}

span.shared_vocal.SCoups.on {
    color: #E54E03;
}

span.TestJeonghan {
    color: #FF9A00;
}

div.song_line.Jeonghan.on {
    color: #FF9A00;
}

span.backing_vocal.Jeonghan.on {
    color: #FF9A00;
}

span.shared_vocal.Jeonghan.on {
    color: #FF9A00;
}

span.TestJoshua {
    color: #D4C92E;
}

div.song_line.Joshua.on {
    color: #D4C92E;
}

span.backing_vocal.Joshua.on {
    color: #D4C92E;
}

span.shared_vocal.Joshua.on {
    color: #D4C92E;
}

span.TestJun {
    color: #A6F531;
}

div.song_line.Jun.on {
    color: #A6F531;
}

span.backing_vocal.Jun.on {
    color: #A6F531;
}

span.shared_vocal.Jun.on {
    color: #A6F531;
}

span.TestHoshi {
    color: #03B31F;
}

div.song_line.Hoshi.on {
    color: #03B31F;
}

span.backing_vocal.Hoshi.on {
    color: #03B31F;
}

span.shared_vocal.Hoshi.on {
    color: #03B31F;
}

span.TestWonwoo {
    color: #21E7BF;
}

div.song_line.Wonwoo.on {
    color: #21E7BF;
}

span.backing_vocal.Wonwoo.on {
    color: #21E7BF;
}

span.shared_vocal.Wonwoo.on {
    color: #21E7BF;
}

span.TestWoozi {
    color: #21A7E7;
}

div.song_line.Woozi.on {
    color: #21A7E7;
}

span.backing_vocal.Woozi.on {
    color: #21A7E7;
}

span.shared_vocal.Woozi.on {
    color: #21A7E7;
}

span.TestDK {
    color: #215FE7;
}

div.song_line.DK.on {
    color: #215FE7;
}

span.backing_vocal.DK.on {
    color: #215FE7;
}

span.shared_vocal.DK.on {
    color: #215FE7;
}

span.TestMingyu {
    color: #CBB4FC;
}

div.song_line.Mingyu.on {
    color: #CBB4FC;
}

span.backing_vocal.Mingyu.on {
    color: #CBB4FC;
}

span.shared_vocal.Mingyu.on {
    color: #CBB4FC;
}

span.TestThe8 {
    color: #8E21E7;
}

div.song_line.The8.on {
    color: #8E21E7;
}

span.backing_vocal.The8.on {
    color: #8E21E7;
}

span.shared_vocal.The8.on {
    color: #8E21E7;
}

span.TestSeungkwan {
    color: #FF19D1;
}

div.song_line.Seungkwan.on {
    color: #FF19D1;
}

span.backing_vocal.Seungkwan.on {
    color: #FF19D1;
}

span.shared_vocal.Seungkwan.on {
    color: #FF19D1;
}

span.TestVernon {
    color: #CA0284;
}

div.song_line.Vernon.on {
    color: #CA0284;
}

span.backing_vocal.Vernon.on {
    color: #CA0284;
}

span.shared_vocal.Vernon.on {
    color: #CA0284;
}

span.TestDino {
    color: #FF408E;
}

div.song_line.Dino.on {
    color: #FF408E;
}

span.backing_vocal.Dino.on {
    color: #FF408E;
}

span.shared_vocal.Dino.on {
    color: #FF408E;
}

span.TestAllMembers {
    color: #A5A3A3;
}

div.song_line.All.on {
    color: #A5A3A3;
}

span.backing_vocal.All.on {
    color: #A5A3A3;
}

span.shared_vocal.All.on {
    color: #A5A3A3;
}

#lyrics_holder {
    margin: 45px 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lyrics_header {
 font-size: 35px;
 margin: auto;
 text-align: center;
 margin-bottom: 35px;
    
}

#korean_lyrics_div {
    background-color: black;
    width: 45%;
    padding: 20px;
    margin: 0 auto;
    font-size: 17px;
}

#english_trans_div {
    vertical-align: top;
    background-color: black;
    width: 45%;
    padding: 20px;
    margin: 0 auto;
    font-size: 17px;
    line-height:  132%;
}

.song_section {
    padding: 10px;
}