* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F3E9FC;
  color: #f2f2f2;;  
}

.header {
  background-image: url("../images/header_tile_bg.png");
  background-repeat: repeat;
  padding: 20px;
  text-align: center;
}

h1 {
  font-style: italic;
  color: white;
  font-size: 45px;
}

h2{
 font-size: 75px;
 margin: auto;
}

ul.nav {
  list-style-type: none;
  text-align:center;
  margin: 0;
  padding: 0;
  background-color: #282728;
  border: 1px solid white;
}

li {
  display: inline-block;
  margin: 0 75px 0 75px;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #E1A5FB;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #A859CA;
  color: #f2f2f2;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282728;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
  border: 1px solid white;
}

.dropdown-content a:hover {
  background-color: #000;
  color: #E1A5FB;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #480D62;
}

.main {
  margin: 55px;
  padding: 15px;
  background-color: #282728;
  color: #F9F5FB;
  font-size: 18px;
}

.profile_link_holder {
  padding: 25px;
  display: grid; 
  grid-template-columns: auto auto;
  grid-gap: 50px 0px;
  justify-items: center;
}

.profile_link {
  color: #DCCAFE;
  height: 200px;
  width: 600px;
  background: hsla(282, 76%, 18%, 1);
  background: linear-gradient(
    90deg,
    hsla(282, 76%, 18%, 1) 6%,
    hsla(282, 69%, 25%, 1) 35%,
    hsla(225, 49%, 51%, 1) 85%
  );
  border-style: solid;
  border-color: #A173F5;
  text-align: center;
}

.group_name {
  margin: 20px 0px 0px 0px;
}

.group_name a {
  text-decoration: none;
  font-style: italic;
  color: #DCCAFE;
  font-size: 32px;
}

.group_name a:hover {
  text-decoration: none;
  color: #B666FF;
}

.song_name a {
  text-decoration: none;
  color: #DCCAFE;
  font-size: 80px;
  margin-bottom: 10px;
}

.song_name_small a {
  text-decoration: none;
  color: #DCCAFE;
  font-size: 70px;
}

.song_name a:hover {
  text-decoration: none;
  color: #B666FF;
}

.song_name_small a:hover {
  text-decoration: none;
  color: #B666FF;
}

.korean_name {
  margin: -10px;
  color: #DCCAFE;
  font-size: 18px;
}